.App {
  text-align: center;
}


.appHeader {
  background-color: rgb(52, 28, 160);
  height: 100px;
  padding: 20px;
  color: white;
}



.movieTitle {
  margin: 3%;
  flex-wrap: none;
  /* justify-content: left;
  text-align: left; */
}

.moviePoster {
  margin: 3%;
}

.movieItem {
  border: black 1px solid;
  border-radius: 2%;
  width: 350px;
}



.movieTextDiv {
  margin-top: 4%;
}

.cardCenter {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
